<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML Project Test</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main>
      <div id="grid-container">
        <div id="header-container">
          <h1>Pulse</h1>
        </div>
        <div id="subtitle-container">
          <h3>Dealership Vehicles</h3>
        </div>
        <div id="soon-container">
          <p class="firstp">Coming Soon...</p>
        </div>
        <div id="nav">
          <nav>
            | <a href="/html/">Home</a> | <a href="/css/">Europe</a> |
            <a href="/js/">American</a> | <a href="/python/">JDM</a> |
          </nav>
        </div>
        <div id="list">
          <ol>
            <li>Audi</li>
            <li>BMW</li>
            <li>Mercedes</li>
            <li>Pagani</li>
          </ol>
        </div>
        <div id="slideshow">
          <div id="top-row">
            <img class="arrow arrow-left" id="arrow-left" src="https://cdn.pixabay.com/photo/2012/04/11/10/24/arrow-27323_960_720.png" alt="" />
            <div id="photo-container">
              <img id="photo1" class="photo active" src="https://cdn.pixabay.com/photo/2012/11/02/13/02/car-63930_960_720.jpg"/>
            <img id="photo2" class="photo" src="https://cdn.pixabay.com/photo/2017/03/27/14/56/auto-2179220_960_720.jpg" />
            <img id="photo3" class="photo" src="https://cdn.pixabay.com/photo/2015/01/19/13/51/car-604019_960_720.jpg" />
            <img id="photo4" class="photo" src="https://cdn.pixabay.com/photo/2016/12/03/18/57/car-1880381__340.jpg" />
            <img id="photo5" class="photo" src="https://cdn.pixabay.com/photo/2016/12/07/21/50/car-1890494_960_720.jpg" />
            <img id="photo6" class="photo" src="https://cdn.pixabay.com/photo/2017/03/20/04/57/truck-2158284_960_720.png" />
            <img id="photo7" class="photo" src="https://cdn.pixabay.com/photo/2021/01/04/07/58/bmw-5886803__340.jpg" />
            <img id="photo8" class="photo" src="https://cdn.pixabay.com/photo/2021/09/07/15/09/dare-6604189__340.jpg" />
            <img id="photo9" class="photo" src="https://cdn.pixabay.com/photo/2021/01/04/07/58/jdm-5886801__340.jpg" />
            <img id="photo10" class="photo" src="https://cdn.pixabay.com/photo/2021/05/12/14/44/cars-6248505__340.jpg" />
            </div>
            <img class="arrow arrow-right" id="arrow-right" src="https://cdn.pixabay.com/photo/2012/04/11/10/24/arrow-27324_960_720.png" alt="" />
          </div>
        </div>
        <div id="bottom-row">
          <div id="dots">
            <div id="dot1" class="dot"></div>
            <div id="dot2" class="dot"></div>
            <div id="dot3" class="dot"></div>
            <div id="dot4" class="dot"></div>
            <div id="dot5" class="dot"></div>
            <div id="dot6" class="dot"></div>
            <div id="dot7" class="dot"></div>
            <div id="dot8" class="dot"></div>
            <div id="dot9" class="dot"></div>
            <div id="dot10" class="dot"></div>
          </div>
        </div>
        <!-- <img
        class="background"
        src="https://cdn.pixabay.com/photo/2017/06/26/08/40/yorkshire-dales-2443076_960_720.jpg"
      /> -->
      </div>
    </main>
    <script src="app.js"></script>
  </body>
</html>